<a href="#" name="comments-top"></a>
<!-- pagination -->
<div class="pagination-box-top comments-pagination">
  <%= will_paginate @comments,:param_name => :comments_page %><div class="clear"></div>
</div>
<% @comments.each do |comment| %>
  <div class="comment">
    <div class="poster">
      <span class="username">
        <%= link_to comment.user.username,user_path(comment.user) %>
      </span>
      <span class="date">
        <em><%= l comment.created_at ,:format => :long %></em>
      </span>
    </div>
    <div class="entry">
    <p><%= raw comment.content %></p>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
<!-- pagination -->
<div class="pagination-box-bottom comments-pagination" style="padding-top:10px;">
  <%= will_paginate @comments,:param_name => :comments_page %><div class="clear"></div>
</div>
