<div class="idea-box">
  <div class="row">
	<div class="span10">
	  <div class="idea-title"><%= link_to idea.title,idea,:title => idea.title %></div>
	  <div class="idea-tag">
      <% idea.tags.each do |tag| %>
        <%= link_to tag.name,'#',:class => "tag" %>
      <% end %>
      </div>
	  <div class="idea-info">由&nbsp;<%= link_to idea.user.username,user_path(idea.user) %>&nbsp;发布了&nbsp;<%= distance_of_time_in_words_to_now idea.created_at %></div>
	  <div class="idea-entry"><%= raw RedCloth.new(idea.description,[:filter_html]).to_html %></div>
	</div>
	<div class="span2">
	  <ul class="unstyled idea-action">
		<li><a href="#">修改</a></li>
	  </ul>
	</div>
  </div>
  <%= render idea.solutions %>
  <%= render idea.comments %>
  <div class="idea-button">
    <%= link_to "建议",idea_path(idea),:class =>"btn primary" %> 
    <% if can? :create,Comment %>
      <%= link_to "评论",idea_path(idea),:class =>"btn info" %>
    <% end %>
    <% if can? :favoriate,idea %>
      <% if idea.favorers.exists?(session[:login_user].id) %>
	    <%= link_to "取消关注",unfavoriate_idea_path(idea),:remote => true,:id => "favor-link-#{idea.id}",:class=>"btn" %>
      <% else %>
	    <%= link_to "关注",favoriate_idea_path(idea),:remote => true,:id => "favor-link-#{idea.id}",:class=>"btn" %>
      <% end %>
    <% end %>
    <% if can? :handle,idea %>
      <% if idea.status != IDEA_STATUS_LAUNCHED %>
	    <%= link_to "实施",handle_idea_path(idea),:class=>"btn danger" %>
      <% end %>
    <% end %>
  </div>
</div>
