<div class="idea">
  <ul class="idea-vote">
    <li><h6>投票</h6></li>
    <li class="vote-btn">
      <%= like_button_tag "顶",like_idea_path(idea),:like,idea %>
      <%= like_button_tag "踩",unlike_idea_path(idea),:unlike,idea %>
	<li class="score">
	  <span>
	    <strong><%= idea.points %></strong><br>
		<small>分</small>
	  </span>
	</li> 
  </ul>
  <div class="imessage"> 
	<h2>
	  <span><%= link_to idea.title,idea,:title => idea.title %></span>
      <%= status_span_tag idea %>
	</h2>
	<div class="info">类别:&nbsp;<%= idea.category.name %></div>
	<div class="info">发布于&nbsp;<%= l idea.created_at,:format => :long %></div>
	<div class="info">由&nbsp;<%= link_to idea.user.username,user_path(idea.user) %></div>
    <div class="entry"><p><%= raw idea.description %></p></div>
	<ul class="actions">
      <% if idea.comments_count > 0 %>
	  <li class="comment"><%= link_to "评论[#{idea.comments_count}]",idea_path(idea,:anchor => "first") %></li>
      <% end %>
      <% if can? :create,Comment %>
	  <li class="write"><%= link_to "发表评论",idea_path(idea,:anchor => "comment-form") %></li>
      <% end %>
      <% if can? :favoriate,idea %>
        <% if idea.favorers.exists?(session[:login_user].id) %>
	      <li class="unfavor"><%= link_to "取消收藏",unfavoriate_idea_path(idea),:remote => true,:id => "favor-link-#{idea.id}" %></li>
        <% else %>
	      <li class="favor"><%= link_to "收藏",favoriate_idea_path(idea),:remote => true,:id => "favor-link-#{idea.id}" %></li>
        <% end %>
      <% end %>
      <% if can? :edit,idea %>
	    <li class="edit"><%= link_to "编辑",edit_idea_path(idea) %></li>
      <% end %>
      <% if can? :handle,idea %>
        <% if idea.status != IDEA_STATUS_LAUNCHED %>
	    <li class="manage"><%= link_to "修改状态",handle_idea_path(idea) %></li>
        <% end %>
      <% end %>
	</ul> 
  </div>
  <div class="clear"></div>
</div>
