<div class="category-select-box">
  <label>您搜索 [<span class="highlight"><%= @query %></span>] 共返回 <span class="highlight"><%= @total %></span> 条记录</label>
</div>
	<!-- pagination -->
  <div class="pagination-box-top search-pagination">
    <%= will_paginate @ideas,:param_name => :ideas_page %><div class="clear"></div>
    </div>
  <!-- begin of ideas -->
  <div class="ideas-all" id="ideas">
    <%= render @ideas %>
  </div>	
  <!-- end of ideas -->
    <!-- pagination -->
  <div class="pagination-box-bottom search-pagination">
    <%= will_paginate @ideas,:param_name => :ideas_page  %><div class="clear"></div>
  </div>
