<div class="title"><span class="t2">编辑主意</span></div>
<div class="idea-edit">
  <%= form_tag idea_path(@idea),:method => :put do %>
  <%= errors_msg_tag(@idea) %>
  <h2>
    <span><%= link_to @idea.title,@idea,:title => @idea.title %></span>
    <%= status_span_tag @idea %>
  </h2>
  <div class="info">类别:&nbsp;<%= select("cate","id",Category.all.collect {|c| [ c.name, c.id ] }) %></div>
  <div class="info">评分:&nbsp;<%= @idea.points %>&nbsp;&nbsp;评论:&nbsp;<%= @idea.comments_count %></div>
  <div class="info">发布于&nbsp;<%= l @idea.created_at,:format => :long %></div>
  <div class="info">由&nbsp;<%= @idea.user.username %></div>
  <div class="entry"><p><%= raw @idea.description %></p></div>
  <%= submit_tag "修改",:id => "edit-idea" %>
  <% end %>
</div>

