<div id="tabs">
	<ul>
	  <li><%= link_to '热门',tab_ideas_path(:style => IDEA_SORT_HOT),:title =>'tab-box' %></li>
	  <li><%= link_to '最新',tab_ideas_path(:style => IDEA_SORT_NEW),:title =>'tab-box'%></li>
	  <li><%= link_to '评分最高',tab_ideas_path(:style => IDEA_SORT_POINTS),:title =>'tab-box' %></li>
	  <li><%= link_to '评论最多',tab_ideas_path(:style => IDEA_SORT_COMMENTS),:title =>'tab-box' %></li>
	</ul>
</div>
<div id="login-dialog">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left;margin-right:.3em"></span>
        您还没有登录，请先&nbsp;<%= link_to "登录>>",login_path %>
  </P>
</div>
