<div class="title"><span class="t2">你有什么好主意？</span></div>

<div class="submit-idea">
<%= form_for(@idea) do |f| %>

  <% if @idea.errors.any? %>
  <div class="ui-widget">
    <div class="ui-state-highlight ui-corner-all" style="padding:0 .7em">
    <% @idea.errors.full_messages.each do |msg| %>
      <p>
        <span class="ui-icon ui-icon-alert" style="float:left;margin-right:.3em"></span>
        <%= msg %>
      </P>
    <% end %>
    </div>
  </div>
  <% end %>

  <div class="item">
    <%= f.label :title,:class => "text" %>
    <%= f.text_field :title, :class => "text", :maxlength => 30 %>
  </div>
  <div class="item">
    <%= f.label :description,:class => "text" %>
	<%= f.text_area :description,:class => "xheditor {width:505,height:300,tools:'Bold,Italic,Underline,Strikethrough,List,Link,Unlink'}" %>

  </div>
  <div class="item">
    <%= f.label :category,:class=>"text"%>
    <%= select("idea", "category_id", @categories.collect {|c| [ c.name, c.id ] },:class => "text") %>
  </div>
  <div class="item">
    <label class="text">&nbsp;</label>
    <%= f.submit "发布",:id => "add-idea" %>
  </div>
<% end %>
  <div id="promotion-dialog" title="看看大家的Idea，你的Idea是否已经有了">
  </div>
</div>
