<div class="idea-one">
<%= render @idea %>
</div>
<% unless @comments.empty? %>
<div id="comments-box">
<%= render :partial => "comments", :locals => { :comments => @comments } %>
</div>
<% end %>
<% if session[:login_user] %>
<div class="comment-form">
<a href="#" name="comment-form"></a>
<div id="flash"><%= errors_flash_tag flash[:alert] %></div>
<%= form_for([@idea,@comment]) do |f| %>
    <div id="comment-content-tabs">
      <ul class="custom">
        <li><a href="#comment-text-input">评论</a></li>
        <li><a id="preview-comment" href="#comment-text-preview">预览</a></li>
        <li><a href="#comment-text-help">格式化规则</a></li>
      </ul>
      <div id="comment-text-input" class="custom">
	<%= f.text_area :content,:class => "text",:style => "width:450px;height:200px;overflow-y:auto" %>
      </div>
      <div id="comment-text-preview" class="custom"></div>
      <div id="comment-text-help" class="custom">
        <table class="help">
          <tbody>
          <tr>
            <th>输入</th>
            <th>输出</th>
          </tr>
          <tr>
            <th colspan="2">以下为短语格式化规则，符号前后应有<span class="highlight">空格</span></th>
          </tr>
          <tr>
            <td>这是 *粗体字* 的格式</td>
            <td>这是 <strong>粗体字</strong> 的格式</td>
          </tr>
          <tr>
            <td>这是 _斜体字_ 的格式</td>
            <td>这是 <span style="font-style: italic;">斜体字</span> 的格式</td>
          </tr>
          <tr>
            <td>这是 -删除字- 的格式</td>
            <td>这是 <del>删除字</del> 的格式</td>
          </tr>
          <tr>
            <td>这是 +插入字+ 的格式</td>
            <td>这是 <ins>插入字</ins> 的格式</td>
          </tr>
          <tr>
            <td>这是 "博客主页":http://danthought.com 的链接</td>
            <td>这是 <a href="http://danthought.com">博客主页</a> 的链接</td>
          </tr>
          <tr>
            <td>!http://danthought.com/logo_myidea.png!</td>
            <td><%= image_tag "logo_myidea.png" %></td>
          </tr>
          <tr>
            <th colspan="2">以下为段落布局格式化规则，前后应有<span class="highlight">空行</span></th>
          </tr>
          <tr>
            <td>h1. 大标题</td>
            <td><h1>大标题</h1></td>
          </tr>
          <tr>
            <td>h2. 普通标题</td>
            <td><h2>普通标题</h2></td>
          </tr>
         <tr>
            <td>
              * 无序列表项1<br>
              * 无序列表项2
            </td>
            <td>
              <ul>
                <li>无序列表项1</li>
                <li>无序列表项2</li>
              </ul>
          </td>
        </tr>
        <tr>
          <td>
          # 有序列表项1<br>
          # 有序列表项2
          </td>
          <td>
            <ol>
              <li>有序列表项1</li>
              <li>有序列表项2</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>bq. 这是一段引用</td>
          <td><h1><blockquote><p>大这是一段引用</p></blockquote></h1></td>
        </tr>
        </tbody></table>

      </div>
    </div>
    <%= f.submit "发布",:id => "add-comment" %>
<% end %>
</div>
<%= form_tag preview_ideas_path,:method => :post ,:remote => true,:id => "preview-comment-form" do %>
  <%= hidden_field_tag :description,nil,:id => "comment-preview-content" %>
<% end %>
<% end %>
