<div class="search-panel">
  <%= form_tag(users_path,:method => "get",:remote => true,:id => "user-search-form") do %>
  <div class="search-panel-fields ">                    
	<%=text_field_tag(:q,params[:q],:placeholder => "输入用户名",:class => "query") %>
  </div>
    <%= button_tag "搜索用户",:id => "search-user-btn" %>
  <% end %>
</div>
<table class="tt">
  <tbody>
	<tr class="title">
	  <td>用户名</td>
	  <td>邮箱</td>
	  <td>是否管理员</td>
	  <td>是否锁定</td>
	  <td>注册时间</td>
	</tr>
    <% @users.each do |user| %>
      <tr>
		<td><%= user.username %></td>
		<td><%= user.email %></td>
		<td><%= admin_radio_tag user %></td>
		<td><%= active_radio_tag user %></td>
		<td><%= l user.created_at.to_date,:format => :long %></td>
	  </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-box-top users-pagination">
  <%= will_paginate @users %><div class="clear"></div>
</div>
<%= form_tag user_path(0),:method => :put ,:remote => true,:id => "edit-user-form" do %>
  <%= hidden_field_tag(:admin,params[:admin]) %>
  <%= hidden_field_tag(:active,params[:active]) %>
<% end %>  	
