<div class="title"><span class="ui-widget-header ui-corner-all">用户登录</span></div>
<div>
<div id="flash"><%= errors_flash_tag flash[:alert] %></div>
<%= form_tag :login do %>
  <div class="item">
    <%= label_tag  :username,t("myidea.user.login"),:class=>"text" %>
	<%= text_field_tag(:account,params[:account],:class => "text",:placeholder => "输入用户名或邮箱",:maxlength => 30,:title => "输入用户名或邮箱") %>
  </div>
  <div class="item">
    <%= label_tag :password,t("activerecord.attributes.user.password"),:class => "text" %>
	<%= password_field_tag(:password,params[:password],:class => "text",:maxlength => 30) %>
  </div>
  <div class="item">
    <label class="text">&nbsp;</label>
    <%= submit_tag "登录",:id => "login",:class => "sub-btn"%>
  </div>
  <div class="item">
    <label class="text">&nbsp;</label>
    还没有有账号，点击&gt;&gt;<%= link_to "注册",new_user_path %>
  </div>
<% end %>
</div>

