<div class="title"><span class="t2">登录</span></div>
<div>
<% if flash[:alert] %>
  <div class="ui-widget">
    <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    <p>
      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
      <strong>提示:</strong>
      <%= flash[:alert] %>
    </p>
    </div>
  </div>
<% end %>

<%= form_tag :login do %>
  <div class="item">
    <%= label_tag  :username,t("activerecord.attributes.user.username"),:class=>"text" %>
	<%= text_field_tag(:username,params[:username],:class => "text",:maxlength => 30) %>
  </div>
  <div class="item">
    <%= label_tag :password,t("activerecord.attributes.user.password"),:class => "text" %>
	<%= password_field_tag(:password,params[:password],:class => "text",:maxlength => 30) %>
  </div>
  <div class="item">
    <label class="text">&nbsp;</label>
    <%= submit_tag "登录",:id => "login" %>
  </div>
<% end %>
</div>

