var el = $('#add-cate-dialog');
<% if @category.errors.any? %>
  el.children(":first").html('<%= errors_msg_tag(@category) %>')
<% else %>
  el.dialog("close");
  var tr = $('<tr><td><%= escape_javascript(@category.name) %></td><td><%= @category.ideas.count %></td></td></tr>');
  var btn1 = $('<%= link_to "删除",@category,:method => :delete,:remote => true,:confirm => '确认删除？',:class => "cate-del" %>').button({
      text: false,
      icons: {
          primary: "ui-icon-trash"
      }
  }).bind("ajax:success", function(evt, data, status, xhr){
    $(this).parent().parent().remove();
  }).bind('ajax:error', function(evt, xhr, status, error){
    var errors = $.parseJSON(xhr.responseText);
    alert(errors.base);
  });

  td = $("<td></td>").append(btn1);
  var btn2 = $('<%= link_to "修改",'#',:class => "cate-edit",:id => "edit-cate-btn-#{@category.id}" %>').button({
      text: false,
      icons: {
          primary: "ui-icon-pencil"
      }
  }).click(function(){
      var $btn = $(this)
      $editCateForm = $("#edit-cate-form");
      $editCateDialog = $('#edit-cate-dialog');
      var name = $btn.parent().prev().prev().text();
      var id = $btn.attr("id").substring($btn.attr("id").lastIndexOf("-")+1);
      var action = $editCateForm.attr("action");
      $editCateForm.attr("action",action.substring(0,action.lastIndexOf("/")+1)+id);
      $editCateDialog.find("#name").val(name);
      $editCateDialog.dialog('open');
  });
  tr.append(td.append(btn2));
  $('#cate-last').before(tr);
  el.find('input:text,textarea').val('');
  el.children(":first").empty();
<% end %>
