    <div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<div class="container">
          <%= link_to image_tag("myidea_logo_right.png"),root_path,:class=>"brand" %>
		  <form class="navbar-form pull-left">
			<input type="text" placeholder="输入你的好主意">
            <button class="btn" type="submit">发布</button>
		  </form>
          <ul class="nav">
            <li class="active"><a href="#">主页</a></li>
            <% if can? :dashboard,Idea %>
              <li><%= link_to "控制面板",dashboard_path,:id => "dashboard" %></li>
            <% end %>
          </ul>
          <ul class="nav pull-right">
            <% if can? :logout,User %>
            <li id="inbox"><a href="#" rel="tooltip" data-original-title="消息" data-placement="bottom"><span class="label label-important" style="display:inline-block;width:18px;height:18px;text-align:center;font-size:14px">99</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%=link_to '账号管理',user_path(current_user.id) %></li>
                <li class="divider"></li>
                <li><%= link_to "注销",destroy_user_session_path,:method => :delete %></li>
              </ul>
            </li>
            <% else %>
              <li><%= link_to "登录", new_session_path(User) %></li>
              <li><%= link_to "注册", new_registration_path(User) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
