	<div id="header">
		<div class="content">
			<h1 class="logo"><%= link_to Preference.find_by_name(PREFERENCE_SITE_NAME).value,root_path %></h1>
            <div>
			  <div id="welcome">
				  <span>你好</span>
                  <% if can? :logout,User %>
				    <span><%=link_to session[:login_user].username,user_path(session[:login_user].id) %></span>
                    <span>,<%= link_to "退出",logout_path %></span>
                  <% else %>
                    <%= link_to "登录",login_path %>&nbsp;|&nbsp;<%= link_to "注册",new_user_path %>
					<span>发布主意</span>
                  <% end %>
			  </div>
              <div id="action">
                <% if can? :dashboard,Idea %>
                  <%= link_to "控制面板",dashboard_path,:id => "dashboard" %>
                <% end %>
                <%= link_to "发布主意",new_idea_path,:id => "pub-idea" %>
              </div><div class="clear"></div>
            </div>
		</div>
	</div>
