<div class="solution-box">
  <div class="row">
	<div class="span9">
	  <div class="solution-info"><%= link_to solution.user.username,user_path(solution.user) %>&nbsp;建议方案&nbsp;<span class="label success"><%= solution.title %></span></div>
	  <div class="solution-entry"><%= solution.content %></div>
	  <div class="solution-date"><%= distance_of_time_in_words_to_now solution.created_at %></div>
	</div>
	<div class="span2">
	  <ul class="unstyled solution-action">
	    <li><span class="label warning"><%= solution.points %></span></li>
		<li><%= link_to "顶",'#' %></li>
		<li><%= link_to "踩",'#' %></li>
		<li><a href="#">修改</a></li>
	  </ul>
	</div>
  </div>
</div>
