<!DOCTYPE html>
<html>
<head>
  <title>Myidea</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
	  <div class="container">
        <%= link_to image_tag("myidea_logo_right.png"),root_path,:class=>"brand" %>
        <ul class="nav pull-right">
          <%- if controller_name != 'sessions' %>
            <li><%= link_to "已有账号？登录", new_session_path(resource) %></li>
          <% else %>
            <li>
              <%= link_to  new_registration_path(resource) do %>
                还没有账号？<span class="highlight">欢迎注册</span>
              <% end %>
            </li>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <%= yield %>
	</div>
    <%= render "common/footer"%>
  </div>
</body>
</html>
