<!DOCTYPE html>
<html>
<head>
  <title>Myidea</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon-72x72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72' %>
  <%= favicon_link_tag 'apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114' %>
</head>
<body>
  <%= render 'common/header' %>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span9">
          <%= yield %>
        </div>
		<!-- Right Side Bar -->
          <div class="span3">
			<form class="form-search">
				<input type="text" class="span2 search-query" placeholder="搜索主意">
				<button type="submit" class="btn"><i class="icon-search"></i></button>
			</form>
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="#">所有的主意</a></li>
				<li><a href="#">发布的主意</a></li>
				<li><a href="#">关注的主意</a></li>
			</ul>
			<h4>主题</h4>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#"><i class="icon-list"></i>&nbsp;MyIdea Web应用</a></li>
				<li><a href="#"><i class="icon-list"></i>&nbsp;iPhone BMI</a></li>
				<li><a href="#"><i class="icon-list"></i>&nbsp;其他主题</a></li>
			</ul>
			<h4>热门标签</h4>
			<ul class="unstyled hot-tags">
						<li><i class="icon-tag"></i>&nbsp;<a href="tag.html">视觉一二三四五六七八九十</a><span class="shallow">&nbsp;x&nbsp;2</span></li>
						<li><i class="icon-tag"></i>&nbsp;<a href="tag.html">视觉一二三四五六七八九十</a><span class="shallow">&nbsp;x&nbsp;2</span></li>
						<li><i class="icon-tag"></i>&nbsp;<a href="tag.html">视觉一二三四五六七八九十</a><span class="shallow">&nbsp;x&nbsp;2</span></li>
						<li><i class="icon-tag"></i>&nbsp;<a href="tag.html">视觉一二三四五六七八九十</a><span class="shallow">&nbsp;x&nbsp;2</span></li>
						<li><i class="icon-tag"></i>&nbsp;<a href="tag.html">视觉一二三四五六七八九十</a><span class="shallow">&nbsp;x&nbsp;2</span></li>
						<li><i class="icon-tag"></i>&nbsp;<a href="tag.html">视觉一二三四五六七八九十</a><span class="shallow">&nbsp;x&nbsp;2</span></li>
						<li><i class="icon-tag"></i>&nbsp;<a href="tag.html">视觉一二三四五六七八九十</a><span class="shallow">&nbsp;x&nbsp;2</span></li>
						<li><i class="icon-tag"></i>&nbsp;<a href="tag.html">视觉一二三四五六七八九十</a><span class="shallow">&nbsp;x&nbsp;2</span></li>
						<li><i class="icon-tag"></i>&nbsp;<a href="tag.html">视觉一二三四五六七八九十</a><span class="shallow">&nbsp;x&nbsp;2</span></li>
					</ul>
	    </div>
		<!-- End of Right Side Bar -->
        </div>
      </div>
    <%= render 'common/footer' %>          
    </div> <!-- /container -->
</body>
</html>
