<!DOCTYPE html>
<html>
<head>
  <title>Myidea</title>
  <%= stylesheet_link_tag    "application","redmond/jquery-ui" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
    <body>
	<!-- begin of header -->
	<div id="header">
		<div class="content">
			<h1 class="logo">
				<a title="MyIdea Home" href="index.html"></a>
			</h1>
            <div>
			  <div id="welcome">
				  <span>你好</span>
                  <% if session[:login_user] %>
				    <span><%= session[:login_user].username %></span>
                    <span>,<%= link_to "退出",logout_path %></span>
                  <% else %>
                    <%= link_to "登录",login_path %>
					<span>发布评论</span>
                  <% end %>
			  </div>
              <div id="action">
                  <%= link_to new_idea_path do%>
                  <button id="pub-idea">发布Idea</button>
                  <% end %>
              </div><div class="clear"></div>
            </div>
		</div>
	</div>
	<!-- end of header -->

	<!-- begin of main -->
	<div id="main">
		<div class="content">
			<!-- begin of right -->
			<div class="col-a" id="rightBox">
              <%= yield %>
			</div> 
			<!-- end of right -->
			<!-- begin of left -->
			<div class="col-b">
				<!-- begin of search -->
				<div class="search-panel">
					<%= form_tag(search_ideas_path,:method => "get",:id => "search-form") do %>
						<div class="search-panel-fields ">                    
							<%=text_field_tag(:q,@query,:placeholder => "搜索Ideas",:id=> "query") %>
						</div>
                        <%= submit_tag "GO",:id => "searchBtn" %>
					<% end %>
				</div>
				<!-- end of search -->
				<!-- begin of category -->
				<div class="partner-category"> 
					<ul>
                      <% Category.all.each do |category|%>
						<li><span><%= category.ideas.count %></span><%= link_to category.name,tab_ideas_path(:cate_id => category.id ),:class => 'cate_link',:remote => true %></li>
                      <% end %>
					</ul>
				</div>
				<!-- end of category -->
			</div>
			<!-- end of left -->
		</div>
	</div>
	<!-- end of main -->

	<!-- begin of footer -->
	<div id="footer">
		<div class="content">
	      Powered By <a target="_blank" href="https://github.com/danjiang/myidea">MyIdea</a>
		</div>
	</div>
	<!-- end of footer -->
    </body>
</html>
