<!DOCTYPE html>
<html>
<head>
  <title>Myidea</title>
  <%= stylesheet_link_tag    "application","redmond/jquery-ui" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
    <body>
    <%= render "common/header"%>
	<div id="main">
		<div class="content">
			<div class="col-a" id="rightBox">
              <%= yield %>
			</div> 
			<div class="col-b">
				<div class="search-panel">
					<%= form_tag(search_ideas_path,:method => "get",:id => "search-form") do %>
						<div class="search-panel-fields ">                    
							<%=text_field_tag(:q,@query,:placeholder => "搜索Ideas",:id=> "query") %>
						</div>
                        <%= submit_tag "GO",:id => "searchBtn" %>
					<% end %>
				</div>
				<div class="partner-category"> 
					<ul>
                      <% Category.all.each do |category|%>
						<li><span><%= category.ideas.count %></span><%= link_to category.name,tab_ideas_path(:cate_id => category.id ),:class => 'cate_link',:remote => true %></li>
                      <% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <%= render "common/footer"%>
    </body>
</html>
