<!DOCTYPE html>
<html>
<head>
  <title>Myidea</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
    <body>
    <%= render "common/header"%>
    <div class="container">
      <div class="content">
        <div class="page-header">
			<div class="row">
			  <div class="span10">
              <%= form_for(@idea) do |f| %>
                <div id="flash"><%= errors_msg_tag(@idea) %></div>
			    <div class="clearfix">
				  <%= f.label :title%>
				  <div class="input">
                    <%= f.text_field :title, :class => "xlarge", :maxlength => 60 %>
				    <button class="btn primary" type="submit">发布</button>
				  </div>
			    </div>
			    <div class="clearfix">
				  <%= f.label :description%>
				  <div class="input">
	                <%= f.text_area :description,:class=>"xlarge",:style => "height:200px;overflow-y:auto" %>
				  </div>
			    </div>
			    <div class="clearfix">
				  <%= f.label :tag_names %>
				  <div class="input">
                    <%= f.text_field :tag_names, :class => "xlarge" %>
					<span class="help-block">标签由空格间隔，最多5个标签</span>
				  </div>
			    </div>
                <div class="actions">
                  <%= f.submit "发布主意",:class => "btn primary" %>
                </div>
		      <% end %>
		      </div>
		    </div>
          </div>


        <div class="row">
          <div class="span10">
              <%= yield %>            
          </div>
          <div class="span4">
            <ul class="pills sidebar-select">
              <li class="active"><a href="#">所有的主意</a></li>
              <li><a href="#">发布的主意</a></li>
              <li><a href="#">关注的主意</a></li>
              <li><a href="#">消息</a></li>
            </ul>
            <h4>热门标签</h4>
			<ul class="unstyled hot-tags">
              <% Tag.all.each do |tag|%>
			    <li><%= link_to tag.name,'#',:class => 'tag' %>x&nbsp;<%= tag.ideas.count %></li>
              <% end %>
			</ul>
	      </div>
        </div>
      </div>

    <%= render "common/footer"%>

    </div> <!-- /container -->
    </body>
</html>
