<!DOCTYPE html>
<html>
<head>
  <title>Myidea</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
    <body>
    <%= render "common/header"%>
	<div id="main">
		<div class="content">
			<div class="col-a" id="rightBox">
              <%= yield %>
              <div id="login-dialog">
              <p>
               <span class="ui-icon ui-icon-alert" style="float:left;margin-right:.3em"></span>您还没有登录，请先&nbsp;<%= link_to "登录>>",login_path %>
              </P>
              </div>
			</div> 
			<div class="col-b">
				<div class="search-panel ui-state-highlight">
					<%= form_tag(search_ideas_path,:method => "get",:id => "search-form") do %>
						<div class="search-panel-fields ">                    
							<%=text_field_tag(:q,@query,:placeholder => "输入关键词",:id=> "query",:class=> "query") %>
						</div>
                        <%= button_tag "搜索主意",:id => "searchBtn" %>
					<% end %>
				</div>
                <div class="category-summary ui-widget-content ui-corner-all">
                  <h3 class="ui-widget-header ui-corner-all">类别</h3>
					<ul>
                      <% Category.all.each do |category|%>
						<li><span><%= category.ideas.count %></span><%= link_to category.name,tab_ideas_path(:cate_id => category.id ),:class => 'cate_link',:remote => true %></li>
                      <% end %>
					</ul>
				</div>
                <div class="leadboard ui-widget-content ui-corner-all">
                  <h3 class="ui-widget-header ui-corner-all">排行榜</h3>
                  <table cellspacing="0" cellpadding="0">
                      <% User.order("points desc").limit(10).each_with_index do |user,index| %>
                      <tr>
                        <td class="rank"><%= index+1 %></td>
                        <td class="username"><%= link_to user.username,user %></td>
                        <td><span><%= user.ideas.count %></span><span class="create"></span></td>
                        <td><span><%= user.comments.count %></span><span class="comment"></span></td>
                        <td><span><%= user.liked_votes.count %></span><span class="like"></span></td>
                        <td><span><%= user.unliked_votes.count %></span><span class="unlike"></span></td>
                      </tr>
                      <% end %>
                  </table>
                  <div class="help"><a href="#">帮助</a></div>
                  <div class="clear"></div>
                </div>
			</div>
		</div>
	</div>
    <%= render "common/footer"%>
    </body>
</html>
